files:
  "/var/app/current/.htaccess" :
    mode: "000755"
    owner: root
    group: root
    content: |
	RewriteEngine On
	RewriteCond %{HTTP_HOST} ^cayenneapp.com$ [NC,OR]
	RewriteCond %{HTTP_HOST} ^www.cayenneapp.com$
	RewriteCond %{REQUEST_URI} !source/public/
	RewriteRule (.*) /source/public/$1 [L]

